.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build.properties

# Compiled output
out/
classes/

# Logs
logs/
*.log

# IDE/Editor specific
.idea/
*.iws
*.iml
*.ipr
.vscode/

# Fabric
**/run/

# OS specific
.DS_Store
Thumbs.db
desktop.ini

# Misc
local.properties
cloth-maven.xml

mod/
